<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_DashboardAdmin.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Dashboard Administrador</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <a href="{{ url_for('gestionar_alertas') }}" class="dashboard-box">
                    <h4>Alertas</h4>
                    <div class="icon-container dashboard-alertas">
                        <p class="notification">{{ alertas[0][0] }}</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <a href="{{ url_for('gestionar_ventas') }}" class="dashboard-box">
                    <h4>Ventas</h4>
                    <div class="icon-container dashboard-ventas">
                        <p class="notification">{{ ventas[0][0] }}</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <a href="{{ url_for('gestionar_proveedores') }}" class="dashboard-box">
                    <h4>Proveedores</h4>
                    <div class="icon-container dashboard-proveedores">
                        <p class="notification">{{ proveedores[0][0] }}</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <a href="{{ url_for('logout') }}" class="dashboard-box">
                    <h4>Movimientos</h4>
                    <div class="icon-container dashboard-movimientos">
                        <p class="notification">{{ movimientos[0][0] }}</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <a href="{{ url_for('gestionar_usuarios') }}" class="dashboard-box">
                    <h4>Usuarios</h4>
                    <div class="icon-container dashboard-usuarios">
                        <p class="notification">{{ usuarios[0][0] }}</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <a href="{{ url_for('gestionar_productos') }}" class="dashboard-box">
                    <h4>Productos</h4>
                    <div class="icon-container dashboard-productos">
                        <p class="notification">{{ productos[0][0] }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Script para ocultar las notificaciones con valor 0
        document.addEventListener('DOMContentLoaded', function () {
            const notifications = document.querySelectorAll('.notification');
            notifications.forEach(notification => {
                if (notification.textContent.trim() === '0') {
                    notification.style.display = 'none'; // Oculta la notificación si es 0
                }
            });
        });
    </script>
</body>
</html>