<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Categorías</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_gestiones.css') }}">
</head>
<body>

{% if idRol == 1 or idRol == 2 %}
<label class="burger-menu" for="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
</label>
<input type="checkbox" id="menu-toggle" style="display: none;">

<nav class="navbar navbar-vertical">
    <ul class="navbar-nav" style="margin-top: 250px;">

        {% if idRol == 1 %}
        <li class="nav-item active">
            <a class="nav-link" href="/dashboardAdmin" style="color: white;">Página principal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/gestionar_alertas" style="color: white;">Alertas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/proveedores" style="color: white;">Proveedores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movimientos" style="color: white;">Movimientos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/usuarios" style="color: white;">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/producto" style="color: white;">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Ventas" style="color: white;">Ventas</a>
        </li>
        {% endif %}

        {% if idRol == 2 %}
        <li class="nav-item active">
            <a class="nav-link" href="/dashboardGerente" style="color: white;">Página principal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/proveedores" style="color: white;">Proveedores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/producto" style="color: white;">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ventas" style="color: white;">Ventas</a>
        </li>
        {% endif %}

        <li class="nav-item mt-auto">
            <a class="nav-link" href="/logout" style="color: #c1c1c1;">Cerrar sesión</a>
        </li>
    </ul>
</nav>
{% endif %}

<!-- Encabezado principal -->
<header class="masthead" style="background-image: url('https://res.cloudinary.com/dlggyukyk/image/upload/v1728330970/ugmzqhfojoacefhr9gzl.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>GESTIÓN DE CATEGORÍAS</h1>
                </div>
            </div>
        </div>
    </div>
</header>

    <div class="container mt-4">
        <button class="mb-4" onclick="location.href='{% if idRol == 1 %}{{ url_for('dashboards.dashboardAdmin') }}{% elif idRol == 2 %}{{ url_for('dashboards.dashboardGerente') }}{% endif %}'">
            Volver al menú principal
        </button>

        <!-- Formulario para agregar categoría -->
        <form method="POST" class="mt-4">
            <div class="input-group mb-3">
                <label for="Categorias" style="color: white">Nueva Categoría</label>
                <input type="text" class="input" name="Categorias" required>
            </div>
            <button type="submit" name="agregar" class="float-right">Agregar</button>
        </form>

        <!-- Lista de categorías -->
        <h2 class="mt-5 text-center">Categorías</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias.items %}
                <tr style="color: white">
                    <td>{{ categoria.idCategoria }}</td>
                    <td>{{ categoria.nombreCategoria }}</td>
                    <td>
                        <button class="float-right ml-2" type="button" data-toggle="modal" data-target="#modalModificarCategoria" onclick="abrirModalModificarCategoria('{{ categoria.idCategoria }}', '{{ categoria.nombreCategoria }}')">Modificar</button>
                        <form method="POST" class="float-right">
                            <input type="hidden" name="categoria_id" value="{{ categoria.idCategoria }}">
                            <button type="submit" name="eliminar">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="modalModificarCategoria" tabindex="-1" aria-labelledby="modalModificarCategoriaLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalModificarCategoriaLabel">Modificar Categoría</h5>
                        <button type="button" class="close modal-close-button" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('categorias.gestionar_categorias') }}">
                            <input type="hidden" id="modalCategoriaId" name="categoria_id">
                            <div class="form-group">
                                <label for="modalNombreCategoria">Nombre de Categoría</label>
                                <input type="text" class="form-control" id="modalNombreCategoria" name="nombreCategoria" required>
                            </div>
                            <button type="submit" name="modificar" class="btn btn-primary">Guardar Cambios</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-close-button" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="mt-4">
            {% if categorias.has_prev %}
                <a href="{{ url_for('categorias.gestionar_categorias', page=categorias.prev_num, q=request.args.get('q')) }}">Anterior</a>
            {% endif %}
            {% if categorias.has_next %}
                <a href="{{ url_for('categorias.gestionar_categorias', page=categorias.next_num, q=request.args.get('q')) }}">Siguiente</a>
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        function abrirModalModificarCategoria(id, nombre) {
        // Asignar los valores a los campos del modal
        document.getElementById('modalCategoriaId').value = id;
        document.getElementById('modalNombreCategoria').value = nombre;

        // Abrir el modal
        $('#modalModificarCategoria').modal('show');
    }
    </script>
</body>
</html>
