{% extends "index.html" %}

{% block content %}
    <div>
        <h1 class="text-center mt-4" style="color: #ffffff h1">Login</h1>
        <form method="post" class="p-4 rounded" style="background-color: transparent">
            <div class="input-group mb-4 mt-4">
                <input type="email" id="email" name="email" class="input" placeholder=" " autocomplete="on" required>
                <label class="user-label">Email</label>
            </div>
            <div class="input-group mb-5 mt-5">
                <input type="password" id="password" name="password" class="input" placeholder=" " autocomplete="off" required>
                <label class="user-label">Password</label>
            </div>
            <button type="submit" class="float-right ml-3 mb-4">Login</button>
            <button type="reset" class="float-right mr-3 mb-4">Reset</button>
            <div class="text-center float-left color: #ffffff">
                <a href="{{ url_for('registrar_usuario') }}">Crear un usuario</a>
            </div>
        </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-info mt-3">
                        {% for category, message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
    </div>
{% endblock %}