{% extends "index.html" %}

{% block content %}
    <div>
        <h1 class="text-center mt-4" style="color: #ffffff h1">Iniciar Sesion</h1>
        <form method="post" class="p-4 rounded" style="background-color: transparent">
            <div class="input-group mb-4 mt-4">
                <input type="email" id="email" name="email" class="input" placeholder=" " autocomplete="on" required>
                <label class="user-label">Email</label>
            </div>
            <div class="input-group mb-5 mt-5">
                <input type="password" id="password" name="password" class="input" placeholder=" " autocomplete="off" required>
                <label class="user-label">Contraseña</label>
            </div>
            <div>
                <button type="submit" class="float-right ml-3 mb-4">Iniciar Sesion</button>
                <button type="reset" class="float-right mr-3 mb-4">Limpiar</button>
            </div>
            <div class="text-center float-center color: #ffffff">
                <p style="color: white;"> ¿No tienes un usuario?</p>
                <a href="{{ url_for('usuarios.registrar_usuario') }}" style="color: #33fcff;">Crea un usuario</a>
            </div>
        </form>
    </div>
{% endblock %}