<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_gestiones.css') }}">
</head>
<body>

<header class="masthead" style="background-image: url('https://res.cloudinary.com/dlggyukyk/image/upload/v1728331227/sgtktivvwzzqqewaurza.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>REGISTRAR NUEVO USUARIO</h1>
                </div>
            </div>
        </div>
    </div>
</header>


    <div class="container mt-5">
        <button class="mb-4" onclick="location.href='{{ url_for('auth.login') }}'">Iniciar Sesión</button>
        <form action="{{ url_for('usuarios.registrar_usuario') }}" method="POST">
            <div class="input-group mb-4">
                <label for="nombre" style="color:white">Nombre</label>
                <input type="text" class="input form-control" id="nombre" name="nombre" required>
            </div>
            <div class="input-group mb-4">
                <label for="email" style="color:white">Email</label>
                <input type="email" class="input form-control" id="email" name="email" required>
            </div>
            <div class="input-group mb-4">
                <label for="password" style="color:white">Contraseña</label>
                <input type="password" class="input form-control" id="password" name="password" required>
            </div>
            <div class="input-group mb-4">
                <label for="idRol" style="color:white">Rol</label>
                <select class="input form-control" id="idRol" name="idRol" required>
                    <option value="">Selecciona un rol</option>
                    {% for rol in roles %}
                        <option value="{{ rol.idRol }}">{{ rol.nombreRol }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="float-right" type="submit">Registrar</button>
            <button class="mr-3 float-right" onclick="location.href='{{ url_for('auth.login') }}'">Cancelar</button>
        </form>
    </div>
</body>
</html>
